* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 8px;
  padding-bottom: 26px;
}

li {
  font-size: 20px;
  color: lightblue;
}

li > a {
  display: inline;
  float: right;
  padding: 10px;
  text-decoration: underline;
  color: lightblue;
}


nav {
  display: block;
  padding: 50px;
  background-color: darkblue;
}

.hero-banner > div > h2 {
  float: right;
  background-color: lightblue;
  color: darkblue;
  padding-right: 20px;
  margin: 20px;

}

.hero-banner {
  display: block;
  padding-top: 100px;
  padding-bottom: 220px;
  background-image: url("/Users/jack.s/Documents/bootcamp/Week-2-Challenge/starter/images/02-hero-bg.jpg");
  background-size: 100%;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 25px;
  padding: 25px;
}

#about { grid-area: 1 / 2 / 2 / 3; }
#work { grid-area: 2 / 2 / 3 / 3; }
#contact { grid-area: 3 / 2 / 4 / 3; }

p {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}



/* Each item starts on row / column / spans rows / spans columns.
individual grid items with images that are constrained to the container */

.item1 { 
  grid-area: 1 / 1 / span 3 / span 3;
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
 }
.item2 { 
  grid-area: 2 / 1 / span 2 / span 2;
  background-image: url(../images/02-portfolio-2.jpg);
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.item3 { 
  grid-area: 2 / 2 / span 2 / span 2;
  background-image: url(../images/02-portfolio-3.jpg);
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.item4 { 
  grid-area: 3 / 1 / span 2 / span 2; 
  background-image: url(../images/02-portfolio-4.jpg);
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.item5 { 
  grid-area: 3 / 2 / span 2 / span 2; 
  background-image: url(../images/02-run-buddy.jpg);
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact > .second-container > div {
  text-decoration: underline;
  color: lightblue;
  padding-right: 20px;
  margin: 20px;
  justify-content: center;
}

#contact > .second-container {
  background-color: darkblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  
}

p {
  margin: 0;
}
